BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 8
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
PointerAlignment: Right
SortIncludes: false
ReflowComments: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
